@page
@model AdminPanelInterface.Pages.EditModel
@{
}

<h1>Edit</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Item.Id" />
            <div class="form-group">
                <label asp-for="Item.Title" class="control-label"></label>
                <input asp-for="Item.Title" class="form-control" />
                <span asp-validation-for="Item.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Description" class="control-label"></label>
                <input asp-for="Item.Description" class="form-control" />
                <span asp-validation-for="Item.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Price" class="control-label"></label>
                <input asp-for="Item.Price" class="form-control" />
                <span asp-validation-for="Item.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Сurrency" class="control-label"></label>
                @Html.LabelFor(model => model.Item.Сurrency, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Item.Сurrency, new List<SelectListItem>
                    {
                    new SelectListItem {Text = "Gold", Value = "1", Selected = true },
                    new SelectListItem {Text = "Bronze", Value = "2" },
                    new SelectListItem {Text = "AL", Value = "3" },
                    new SelectListItem {Text = "Francium", Value = "4" },
                    }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Item.Сurrency, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Item.Image" class="control-label"></label>
                <input asp-for="Item.Image" class="form-control" />
                <span asp-validation-for="Item.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Place" class="control-label"></label>
                <input asp-for="Item.Place" class="form-control" />
                <span asp-validation-for="Item.Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Health" class="control-label"></label>
                <input asp-for="Item.Health" class="form-control" />
                <span asp-validation-for="Item.Health" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Power" class="control-label"></label>
                <input asp-for="Item.Power" class="form-control" />
                <span asp-validation-for="Item.Power" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.XPover" class="control-label"></label>
                <input asp-for="Item.XPover" class="form-control" />
                <span asp-validation-for="Item.XPover" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}